.color1 {color: #001b3b;}
.color2 {color: #003f8a;}
.color3 {color: #00bfff;}
.color4 {color: #15fdc6;}
.color5 {color: #ffffa4;}

.pageNumbers{
    list-style: none;
    display: flex;
    justify-content: center;
}

.pageNumbers li{
    padding: 10px;
    border: 1px solido#001b3b;
    font-size: 1.5rem;
    cursor:pointer;
}

.pageNumbers li.active{
    background-color: #001b3b;
    color:#ffffa4;
}

.pageNumbers li button{
    background-color: transparent;
    border: none;
    color: #001b3b;
    font-size: 1.5rem;
    cursor:pointer;
}

.pageNumbers li button:hover{
    background-color: #001b3b;
    color: #ffffa4;
}